/* Common Shared Styles */
body{
  font-family: "Open Sans", sans-serif;
  font-family: "Lato", ;
}
.text_primary{
  color: #FD6E0A;

}
.btn_primary{
  border-radius: 5px;
  background-color: #FD6E0A;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}
.section_title{
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section_discription{
  color: #757575;
  font-size: 18px;
  text-align: center;
}
/* nav related styles */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px 
}
.nav_tittle{
  color: black;
  font-size: 45px;
  font-weight: 800;
}
nav > ul{
  display: flex;
  align-items: center;
}
nav li{
  list-style: none;
  margin-right: 50px;
  }
nav a{
  text-decoration: none;
  color: #474747;
}
/* Header Related Styles */
.header{
  background-color: #FFF8F3;
  background-image: url(/images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner{
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner_content{
  width: 500px;
}
.banner .profile_pic{
  width: 500px;
}
.banner_greeting{
  font-size: 45px;
  color: #474747;
  margin-bottom: 0px;
}
.banner_title{
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}
/* Main Section Styles */

/* About Styles */
.about{
  padding: 130px;
  border-radius: 10px;
  background: #FFF8F3;
  margin: 130px 0;
}